{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Countdown</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/submit_form.js' %}"></script>
</head>
<body>
    <div class="home">
        <div class="title">
            <h1>Welcome to your</h1>
            <h1 class="bottom-line">COUNTDOWN TIMER</h1>
        </div>
        <div class="body-fade">
            <h3>Select an event to view its countdown</h3>
            <button>Example Button of event</button>
            <h3>Need to add an event? Input here</h3>
            <form action="{% url 'countdown' %}" method="post" onsubmit="submitForm()">
                {% csrf_token %}
                <div class="container">
                    <label for="input-box">Event</label>
                    <input type="text" id="input-box" name="event">
                </div>
                <div class="container">
                    <label for="input-box">Date</label>
                    <input type="date" id="input-box" name="date">
                </div>
                <div class="container">
                    <label for="input-box">Time</label>
                    <input type="time" id="input-box" name="time">
                </div>
                <div class="btn-container">
                    <button type="submit">Submit for Countdown</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>




<!-- 
Open up with "Welcome to your Countdown Timer"

Have it create a section that let's them pick a certain event
    . When an event is chosen, have it fade the home page and display the countdown timer

Under that, do "Need to add an event? Input here"
    . Submit button under that
    . Once submit button is pressed, fade home page and display new timer.



-->